# Настройки сервера
#Запретить просматривать дерикторию.
# Если путь к конкретному файлу в катологе не указан - открыть главную страницу.
# Если получен ответ 404 перевести на нужную страницу.
Options Indexes
DirectoryIndex products.php
ErrorDocument 404  Error.html
 