# Настройки сервера
Options Indexes #Запретить просматривать дерикторию.
DirectoryIndex products.php # Если путь к конкретному файлу в катологе не указан - открыть главную страницу.
ErrorDocument 404  Error.html # Если получен ответ 404 перевести на нужную страницу.
 